body{
    font-family: "Crimson Text";
    background-color: #F2FFFC;
    font-size: 16px;
    width: 850px;
    
}

main{
    float: left;
    margin: 0 auto;
    width: 80%;
    box-sizing: border-box;
}

h1, h2{
    font-family: 'Open Sans Condensed', sans-serif;
    clear: both;
}



main p{
    line-height: 1.5;
}

main h1{
    font-size: 60px;
    background-color:  #851944;
    color: #fff;
    text-align: center;
    padding: 25px;
    border-bottom: 10px solid black;
    text-transform: uppercase;

}

main a{
    color: #851944;
    font-family: 'Open Sans Condensed', sans-serif;
}

main div{
    padding: 20px;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

h2{
    margin: 20px 0;
    font-size: 30px;
    
}

p{
    font-family: 'Crimson Text', 'Times new Roman', serif;
    
    
}

blockquote{
    background-color: #D9E5E3;
    padding: 20px;
    border: 10px solid #C2CCCA;
    margin: 0 40px;
    width: 250px;
    
    
}

blockquote p{
    margin: 0px;
}

cite{
    padding-top: 10px;
    display: block;
    font-style: italic;
    float: right;
}



.navegacao-site{
    background-color: #3C1D3D;
    text-align: center;
    width: 20%;
    float: right;
    box-sizing: border-box;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    
}



.navegacao-site img{
    float: right;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    width: 100%;
    height: auto;
}

.navegacao-site h1{
    color: #F2FFFC;  
    font-size: 30px;
    margin-bottom: 25px;
    padding: 10px 10px 0 10px;
}
.navegacao-site ul{
    color: #F2FFFC; 
}

.navegacao-site ul a {
    color: inherit;
    
}

.navegacao-site li{
    text-transform: lowercase;
    padding-bottom: 10px;
}

.icones-sociais li{
    display: inline-block;
}

.icones-sociais a{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 0px;
    text-indent: -9999px;
}

.github{
    background-image: url(../img/github.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.linkedin{
    background-image: url(../img/linkedin.png);
}

figure{
    width: 20%;
    float: right;
}

.navegacao-site a{
    color: #F2FFFC;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    
    
}

footer{
    background-color: black;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
}

.tags{
    background-color: transparent;
    font-family: 'Crimson Text';
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ccc;
    padding: 16px 0;

}

.tags a{
    font-family: 'Crimson Text';
}

article{
    margin: 20px 0;
    
}

article p{
    margin: 0;
}

.Leia-mais{
    font-size: 16px;
    display: inline-block;
    background-color: #3C1D3D;
    color: white;
    text-decoration: none;
    padding: 16px;
    margin-top: 16px;
    
    
}

.citacao-bio-fiat{
    float: right;
}

.citacao-bio-petrobras{
    float: left;
}