body{
    font-size: 16px;
}

.container{
    background-color: gree;
    width: 80%;
}

article{
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
    border: 0.312rem solid black;
    margin: 1.875rem;
    padding: 0.625rem;

}

article figure{
    padding-bottom: 0.625rem;
    
}


article img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    
    
    
}

article p{
    font-size: 1.375rem;
}